:root { /* Estilos de la raiz de la página, estos estilos afectan a todos los archivos .css del proyecto */
    --hard-blue: #71C9CE;
    --medium-hard-blue: #A6E3E9;
    --medium-soft-blue: #CBF1F5;
    --soft-blue: #E3FDFD;
    --white: #fff;
    --black: #000;
} 
* { /* Estilos que pone por defecto el navegador */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { /* Estilos de la etiqueta HTML */
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/*----- HEADER ----- */ 
header .header-navigation { /* Estilos de la etiqueta nav que va en el header de la página */
    width: 100%;
    height: 60px;
    display: flex;
    min-width: 320px;
    border-bottom: 1px solid var(--black);
    padding-left: 10px;
}
.header-navigation .header-navigation__icon { /* Icono de menú lateral que se ve en la versión móvil solamente */
    width: 45px;
    height: 45px;
    background-image: url('../../assets/icons/menu.svg'); /* Carga la imagen desde CSS */
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Posiciona siempre sin importar el tamaño del contenedor, la imagen en el centro */
    background-repeat: repeat; /* Utilizado para que la imagen no se replique, esto se hace cuando la imagen quiera rellenar el contenedor */
    align-self: center;
    justify-self: left;
}
.header-navigation figure { /* Contenedor del logo de la página */
    align-self: center;
    margin-left: auto;
}
.header-navigation .header-navigation__logo { /* Imagen del logo de la página */
    width: 130px;
    height: 50px;
}
.header-navigation .header-navigation__login-button { /* Botón de ingreso */
    display: none;
}
.header-navigation .header-navigation__register-button { /* Botón de registro */
    display: none;
}
/* ----- MAIN ----- */
.main-section {
    width: 80%;
    min-width: 250px;
    margin: auto;
}
.main-section h1 {
    font-size: 2.7rem;
    text-align: center;
    margin: 50px auto 23px;
    color: var(--hard-blue);
}
.main-section .main-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.main-form label {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 12px;
    height: 70px;
    color: var(--hard-blue);
}
.main-form input {
    width: 250px;
    height: 35px;
    border-radius: 8px;
    padding-left: 10px;
    border: 2px solid var(--hard-blue);
}
.main-form span {
    place-self: start;
    padding: 6px 10px;
}
.gender-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px 30px;
    grid-template-areas: 
    "titulo titulo"
    "masculino femenino";
    place-content: center;
    margin-top: 12px;
    height: 50px;
}
.gender-container p {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    grid-area: titulo;
    color: var(--hard-blue);
}
.gender-container .masculino-label {
    flex-direction: row;
    place-content: center;
    height: 30px;
    margin: auto;
    grid-area: masculino;
}
.gender-container .femenino-label {
    flex-direction: row;
    place-content: center;
    height: 30px;
    margin: auto;
    grid-area: femenino;
}
.gender-container .masculino-text,
.gender-container .femenino-text {
    place-self: center;
    text-align: center;
    font-weight: lighter;
    padding: 0;
}
.gender-container .masculino-label input,
.gender-container .femenino-label input {
    width: auto;
    margin-left: 10px;
    height: 15px;
}
.main-form .required-indication {
    font-size: 1.2rem;
    margin-top: 20px;
    padding-left: 6px;
    color: var(--hard-blue);
}
.main-form .login-button {
    width: 110px;
    height: 40px;
    color: var(--white);
    font-weight: bold;
    border: 0.2px solid var(--medium-soft-blue);
    background-color: var(--hard-blue);
    padding: 0;
    margin: 6px auto 50px;
}
/* ----- FOOTER ----- */
footer { /* Etiqueta del footer */
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--soft-blue);
}
footer section { /* Secciones del footer, este se compone de dos secciones */
    width: 50%;
}
.footer-container-left { /* Contenedor izquierdo del footer */
    padding-left: 10px;
    place-self: center;
}
.footer-container-left ul { /* Lista desordenada que compone al contendor izquierdo del footer */
    display: flex;
    place-items: center;
    list-style: none;
}
.footer-container-left ul li:nth-child(2) { /* Segundo elemento de la lista desordenada, es decir, contenedor logo de linkdin */
    margin-left: 10px;
}
.footer-container-left .github-logo { /* Logo de github */
    display: inline-block;
    width: 50px;
    height:50px;
    background-image: url('../../assets/icons/github-logo.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    align-self: center;
    justify-self: left;
}
.footer-container-left .linkedin-logo  { /* Logo de linkedin */
    display: inline-block;
    width:  40px;
    height: 40px;
    background-image: url('../../assets/icons/linkedin-logo.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    align-self: center;
    justify-self: left;
}
.footer-container-right { /* Contenedor de la parte derecha del footer */
    padding-right: 10px;
    text-align: end;
    align-self: center;
}
.footer-container-right img { /* Imagen del logo de la página que va en el footer */
    width: 120px;
    height: 45px;
}