:root { /* Estilos de la raiz de la página, estos estilos afectan a todos los archivos .css del proyecto */
    --hard-blue: #71C9CE;
    --medium-hard-blue: #A6E3E9;
    --medium-soft-blue: #CBF1F5;
    --soft-blue: #E3FDFD;
    --white: #fff;
    --black: #000;
    --grey: #333;
} 
* { /* Estilos que pone por defecto el navegador */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { /* Estilos de la etiqueta HTML */
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/*----- HEADER ----- */ 
header .header-navigation { /* Estilos de la etiqueta nav que va en el header de la página */
    width: 100%;
    height: 60px;
    display: flex;
    min-width: 320px;
    border-bottom: 1px solid var(--black);
    padding-left: 10px;
}
.header-navigation .header-navigation__icon { /* Icono de menú lateral que se ve en la versión móvil solamente */
    width: 45px;
    height: 45px;
    background-image: url('../../assets/icons/menu.svg'); /* Carga la imagen desde CSS */
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Posiciona siempre sin importar el tamaño del contenedor, la imagen en el centro */
    background-repeat: repeat; /* Utilizado para que la imagen no se replique, esto se hace cuando la imagen quiera rellenar el contenedor */
    align-self: center;
    justify-self: left;
}
.header-navigation figure { /* Contenedor del logo de la página */
    align-self: center;
    margin-left: auto;
}
.header-navigation .header-navigation__logo { /* Imagen del logo de la página */
    width: 130px;
    height: 50px;
}
.header-navigation .header-navigation__login-button { /* Botón de ingreso */
    display: none;
}
.header-navigation .header-navigation__register-button { /* Botón de registro */
    display: none;
}
/* ----- MAIN ----- */
/* ? Sección usuario */
.user-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 0.1px solid var(--grey);
    margin: 2.5rem auto;
    height: auto;
    padding: 15px;
}
.user-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-container h1 {
    font-size: 2.1rem;
    padding-top: 15px;
    color: var(--hard-blue);
}
.user-container div {
    padding-top: 8px;
}
.user-container div p {
    font-size: 1.4rem;
    color: var(--hard-blue);
}
/*? Sección de información del usuario */
.information-user {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 0.1px solid var(--grey);
    margin: 2.5rem auto;
    height: auto;
    padding: 15px;
}
.information-user p {
    font-size: 1.4rem;
    color: var(--hard-blue);
}
.information-user p:nth-child(1),
.information-user p:nth-child(2) {
    font-weight: bold;
}
.information-user button { /* Contenedor del botón de registro en el banner primario */
    font-size: 1.4rem;
    text-align: center;
    border-radius: 8px;
    width: 120px;
    height: 50px;
    color: var(--white);
    font-weight: bold;
    border: 0.2px solid var(--medium-soft-blue);
    background-color: var(--hard-blue);
    margin: 10px auto;
}
/*? Modificacion del CRUD */
.family-cards { /* Sección de las tarjetas con scroll lateral */
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 30px;
}
.family-cards .family-cards--title h2 { /* Título de la sección de las tarjetas */
    font-size: 3.5rem;
    color: var(--hard-blue);
}
.family-cards .family-cards--title p { /* Texto que se encuentra ubicado en la parte superior de sección de las tarjetas */
    padding-top: 20px;
    font-size: 1.8rem;
    color: var(--hard-blue)
}
.family-cards .family-cards--slider { /* Contenedor de las tarjetas, permite el slider */
    display: flex;
    height: 340px;
    /* overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity; */
    justify-content: center;
}
.family-cards--slider .family-cards--card { /* Tarjetas como tal */
    position: relative;
    width: 75%;
    min-width: 220px;
    max-width: 300px;
    margin: 50px 15px 0;
    height: 270px;
    scroll-snap-align: center;
    background-color: var(--soft-blue);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.family-cards--container {
    transform-style: preserve-3d;
    position: relative;
}
.family-cards--container:hover {
    transform: rotateY(180deg);
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
}
.family-cards--card .family-cards--container img { /* Imagen de las tarjetas */
    width: 100%;
    border-radius: 8px;
    height: 180px;
}
.face.front-card {
    /* Cuando se hace el giro es necesario ocultar la cara que NO se esta mostrando */
    backface-visibility: hidden;
    z-index: 2;
}
.face.back-card {
    /* La cara trasera necesita volver a rotar, si no ocurre, se verá al reves */
    backface-visibility: hidden;
    transform: rotateY(180deg);
    z-index: 1;
}
.family-cards--card .family-cards--container p { /* Texto que se encuentra ubicado en las tarjetas */
    margin: auto;
    width: 90%;
    margin-top: 25px;
    font-size: 2.2rem;
    color: var(--grey);
    font-weight: bold;
}
.face.back-card button { /* Contenedor del botón de registro en el banner primario */
    position: absolute;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 8px;
    width: 110px;
    height: 40px;
    color: var(--white);
    font-weight: bold;
    border: 0.2px solid var(--medium-soft-blue);
    background-color: var(--hard-blue);
    top: 200px;
    left: calc(50% - 55px);
}
/* ----- FOOTER ----- */
footer { /* Etiqueta del footer */
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--soft-blue);
}
footer section { /* Secciones del footer, este se compone de dos secciones */
    width: 50%;
}
.footer-container-left { /* Contenedor izquierdo del footer */
    padding-left: 10px;
    place-self: center;
}
.footer-container-left ul { /* Lista desordenada que compone al contendor izquierdo del footer */
    display: flex;
    place-items: center;
    list-style: none;
}
.footer-container-left ul li:nth-child(2) { /* Segundo elemento de la lista desordenada, es decir, contenedor logo de linkdin */
    margin-left: 10px;
}
.footer-container-left .github-logo { /* Logo de github */
    display: inline-block;
    width: 50px;
    height:50px;
    background-image: url('../../assets/icons/github-logo.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    align-self: center;
    justify-self: left;
}
.footer-container-left .linkedin-logo  { /* Logo de linkedin */
    display: inline-block;
    width:  40px;
    height: 40px;
    background-image: url('../../assets/icons/linkedin-logo.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    align-self: center;
    justify-self: left;
}
.footer-container-right { /* Contenedor de la parte derecha del footer */
    padding-right: 10px;
    text-align: end;
    align-self: center;
}
.footer-container-right img { /* Imagen del logo de la página que va en el footer */
    width: 120px;
    height: 45px;
}