<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />

    <link rel="preconectar" href="https://fonts.googleapis.com" />
    <link rel="preconectar" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https: //fonts.googleapis.com/css2? family= Raleway:ital,wght@1,200 & display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <!--Inicio del panel de navegacion-->
    <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">-->
    <nav class="navbar navbar-expand-md bg-primay bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/icon/health-icon.jpg"
            alt=""
            width="40"
            height="40"
            class="d-inline-block align-text-top"
          /><b>Sistema de gestion de miembros</b></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="toggle navigation"
        >
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                th:href="@{/perfil}"
                class="nav-link active"
                aria-current="page"
                href="#"
                >Gestion de miembros</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--final del panel de navegacion-->

    <!--Inicio del card-->
    <div class="container mt-3">
      <div class="row">
        <div class="card text-right">
          <div class="card-body">
            <h1 class="card-title">
              <font color="blue">Crear nuevo miembro</font>
            </h1>
            <!--Inicio del formulario-->
            <form
              th:action="@{/guardarmiembro/{id}"
              th:object="${miembros}"
              method="POST"
            >
              <div class="mb-3">
                <div class="form-group">
                  <label><b>Nombre(s)</b></label>
                  <input
                    type="text"
                    name="nombreMiembro"
                    th:field="*{nombreMiembro}"
                    class="form-control"
                    placeholder="Ingrese Nombre(s)"
                  />
                </div>

                <div class="form-group">
                  <label><b>Apellido(s)</b></label>
                  <input
                    type="text"
                    name="apellidoMiembro"
                    th:field="*{apellidoMiembro}"
                    class="form-control"
                    placeholder="Ingrese Apellido(S)"
                  />
                </div>

                <div class="form-group">
                  <label><b>Parentesco</b></label>
                  <input
                    type="text"
                    name="parentescoMiembro"
                    th:field="*{parentescoMiembro}"
                    class="form-control"
                    placeholder="Ingrese parentesco"
                  />
                </div>

                <div class="form-group">
                  <label><b>Enfermedades</b></label>
                  <input
                    type="text"
                    name="enfermedadesMiembro"
                    th:field="*{enfermedadesMiembro}"
                    class="form-control"
                    placeholder="Ingrese enfermedades"
                  />
                </div>


                <div class="form-group">
                  <label><b>principal</b></label>
                  <input
                    type="hidden"
                    name="persona_id"
                    th:field="${pesona_id}"
                    th:value="${persona.id}"
                    th:text="${persona.nombrepersona}"
                    class="form-control"
                  />
                </div>


                <div class="box-footer mt-4">
                  <button type="submit" class="btn btn-success">Enviar</button>
                </div>
              </div>
            </form>
            <!--fin del formulario-->
          </div>
        </div>
        <!--final del card-->
      </div>
    </div>
    <!--final del contenedor-->
  </body>
</html>
