<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Registrarse</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><b>Formulario</b></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/registrarpersona"
              >REVISARLO PARA CAMBIARLE EL LINK</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <br />

    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-6 col-sm-6 container justify-content-center-card"
        >
          <h1 class="text-center">CREAR PERSONA</h1>
          <div class="card-body">
            <form
              th:action="@{/guardarpersona}"
              th:object="${persona}"
              method="POST"
            >
              <div class="form-group">
                <label><b>Nombre(s)</b></label>
                <input
                  type="text"
                  name="nombrePersona"
                  th:field="*{nombrePersona}"
                  class="form-control"
                  placeholder="Ingrese Nombre(s)"
                  required
                />
              </div>

              <div class="form-group">
                <label><b>Apellido(s)</b></label>
                <input
                  type="text"
                  name="apellidoPersona"
                  th:field="*{apellidoPersona}"
                  class="form-control"
                  placeholder="Ingrese Apellido(s)"
                  required
                />
              </div>

              <div class="form-group">
                <label><b>Cedula</b></label>
                <input
                  type="number"
                  name="cedulaPersona"
                  th:field="*{cedulaPersona}"
                  class="form-control"
                  placeholder="Ingrese numero de cedula SIN PUNTOS"
                  required
                />
              </div>

              <div class="form-group">
                <label><b>Usuario</b></label>
                <input
                  type="text"
                  name="usuarioPersona"
                  th:field="*{usuarioPersona}"
                  class="form-control"
                  placeholder="Ingrese usuario"
                  required
                />
              </div>

              <div class="form-group">
                <label><b>Password</b></label>
                <input
                  type="password"
                  name="passwordPersona"
                  th:field="*{passwordPersona}"
                  class="form-control"
                  placeholder="*********"
                  required
                />
              </div>

              <div class="form-group">
                <label><b>Enfermedades</b></label>
                <input
                  type="text"
                  name="enfermedadesPersona"
                  th:field="*{enfermedadesPersona}"
                  class="form-control"
                  placeholder="Ingrese enfermedad"
                />
              </div>

              <div class="box-footer mt-4">
                <button class="btn btn-success">Crear persona</button>
                <div class="box-footer mt-4">
                  <button
                    class="btn btn-secondary"
                    input
                    type="reset"
                    value="Borrar información"
                  >
                    limpiar campos
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
