<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />

    <link rel="preconectar" href="https://fonts.googleapis.com" />
    <link rel="preconectar" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https: //fonts.googleapis.com/css2? family= Raleway:ital,wght@1,200 & display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/profile/laptop.css" />
    <!-- <link rel="stylesheet" href="./css/profile/laptop.css" media="(min-width: 930px)"> -->

    <title>Perfil de persona</title>
  </head>
  <body>
    <header>
      <nav class="header-navigation">
        <span class="header-navigation__icon"></span>
        <figure>
          <a href="./index.html"
            ><img
              class="header-navigation__logo"
              src="/images/family_logo.png"
              alt="Logo de la página"
          /></a>
        </figure>
        <button class="header-navigation__register-button">Sign up</button>
      </nav>
    </header>

    <!--Inicio del panel de navegacion-->
    <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">-->
    <nav class="navbar navbar-expand-md bg-primay bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/icon/health-icon.jpg"
            alt=""
            width="30"
            height="30"
            class="d-inline-block align-text-top"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="toggle navigation"
        >
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a>Gestion de Arbol genealocido de enfermedades</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--final del panel de navegacion-->

    <!--Inicio del contenedor general-->
    <div class="container mt-4">
      <div class="row">
        <h1>PERFIL</h1>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <a class="btn btn-primary">Agregar mis miembros</a>
          
        </div>
      </div>
      <br>
      <!--Inicio de la tabla-->
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>id Persona</th>
            <th>Nombre Persona</th>
            <th>Apellido Persona</th>
            <th>cedula</th>
            <th>usuario</th>
            <th>password</th>
            <th>enfermedades</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="persona: ${persona}">
            <td th:text="${persona.id}"></td>
            <td th:text="${persona.nombrePersona}"></td>
            <td th:text="${persona.apellidoPersona}"></td>
            <td th:text="${persona.cedulaPersona}"></td>
            <td th:text="${persona.usuarioPersona}"></td>
            <td th:text="${persona.passwordPersona}"></td>
            <td th:text="${persona.enfermedadesPersona} "></td>
            <td>
              <a class="btn btn-primary">Actualizar</a>
              <a class="btn btn-danger">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!--Fin de la tabla-->
    </div>
    <!--Fin del contenedor  general-->
  </body>
</html>
